apex
autoawq_kernels
bitsandbytes
einops
fairscale
gekko
higher
huggingface_hub
hydra-core
iopath
lm_eval
matplotlib
nltk
numpy
omegaconf
openai
opencv_python
packaging
pandas
parameterized
Pillow
PyGithub
pytest
PyYAML
Requests
rouge
safetensors
seaborn
sentence_transformers
setuptools
slack_sdk
tabulate
timm
torch
torchvision
tqdm
transformers
triton
typing_extensions
vllm